<div ng:controller="ConfirmBookingCtrl">
<h2>Confirm Booking</h2>
<div class="booking-form container">
      
            
            <h4>Complete and sumbit the form below to confirm your booking.<h4>
            <p><span class="required">* </span>Required fields</p>
         


         <form name="bookingForm"  ng-controller="ConfirmBookingCtrl as form" ng-submit="addBookingDetail()" novalidate=""  style="margin-top:30px;" class="ng-pristine ng-valid ng-valid-required">

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="firstName">First Name         
                  <span class="required"> *</span>
                  </label>
                  <input ng-model="bookingForm.firstName" type="text" class="form-control ng-pristine ng-valid-maxlength ng-valid-minlength ng-valid ng-valid-required" id="firstName" name="firstName" placeholder="First Name" required="" ng-minlength="1" ng-maxlength="30" />
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="lastName">Last Name
                  <span class="required"> *</span>
                  </label>
                  <input ng-model="bookingForm.lastName" type="text" class="form-control ng-pristine ng-valid-maxlength ng-valid-minlength ng-valid ng-valid-required" id="lastName" name="lastName" placeholder="Last Name" ng-required=""  ng-minlength="1" ng-maxlength="60" />
                </div>
              </div>
            </div>

            
             <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="email"> Email                                                                                               
                  <span class="required"> *</span>
                  </label>
                  <input ng-model="bookingForm.email" type="email" class="form-control ng-pristine ng-valid ng-valid-required" id="email" name="email" placeholder="Email" ng-required="" />
               </div>
           </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="telephone">Phone Number</label>
                  <input ng-model="bookingForm.telephone" type="number" class="form-control ng-pristine ng-valid ng-valid-required" id="telephone" name="telephone" placeholder="Phone Number" ng-required="" />
                  </div>
              </div>
           </div>

          <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                <label for="bankNumber">Bank Details 
                <span class="required"> *</span>
                </label>
                <input ng-model="bookingForm.bankNumber" type="number" class="form-control ng-pristine ng-valid ng-valid-required" id="bankNumber" name="bankNumber" placeholder="Bank Number" />
                </div>
              </div>

          <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-disabled="bookingForm.$pristine || (bookingForm.$dirty &amp;&amp; bookingForm.$invalid) " disabled="disabled"> Submit Booking</button>
                </div> 
              </div>
          </div>
      </div>
</form>


    </div>
     </div>
			
